/* styles.css */
:root {
  /* Light theme colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
  --text-color: #000000;
}

body.light {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  /* Dark theme colors */
  --primary-color: #0d6efd;
  --secondary-color: #adb5bd;
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.gray-text {
  color: var(--secondary-color);
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
